**/.DS_Store
**/.directory
/j-lawyer-client/nbproject/private/
/j-lawyer-fax/nbproject/private/
/j-lawyer-io-common/nbproject/private/
/j-lawyer-server/nbproject/private/
/j-lawyer-server-entities/nbproject/private/
/j-lawyer-server/j-lawyer-server-war/nbproject/private/
/j-lawyer-server/j-lawyer-server-io/nbproject/private/
/j-lawyer-server/j-lawyer-server-ejb/nbproject/private/
/j-lawyer-server-common/nbproject/private/
/j-lawyer-server-api/nbproject/private/
/j-lawyer-fax/build/
/j-lawyer-fax/dist/
/j-lawyer-server-api/build/
/j-lawyer-server-entities/dist/
/j-lawyer-server-entities/build/
/j-lawyer-server-common/dist/
/j-lawyer-server-common/build/
/j-lawyer-server-api/dist/
/j-lawyer-client/build/
/j-lawyer-backupmgr/target/
/j-lawyer-server/j-lawyer-server-ejb/build/
/j-lawyer-server/build/
/j-lawyer-server/j-lawyer-server-ejb/dist/
/j-lawyer-io-common/build/
/j-lawyer-server/j-lawyer-server-io/build/
/j-lawyer-server/j-lawyer-server-io/dist/
/j-lawyer-io-common/dist/
/j-lawyer-server/dist/
/j-lawyer-server/j-lawyer-server-war/dist/
/j-lawyer-server/j-lawyer-server-war/build/
/j-lawyer-client/dist/
/mybuild.sh
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-run.docx
/j-lawyer-server/j-lawyer-server-ejb/test/data/textfield-run.docx
/.directory
/build.log
/j-lawyer-client/.directory
/j-lawyer-client/lib/.directory
/j-lawyer-client/lib/bea/.directory
/j-lawyer-server/lib/.directory
/j-lawyer-server/lib/test/.directory
/j-lawyer-client/src/images/.directory
/j-lawyer-client/src/fonts/exo2/.directory
/j-lawyer-server/j-lawyer-server-ejb/lib/.directory
/j-lawyer-client/ks.jpg
/j-lawyer-server/j-lawyer-io/nbproject/private/
/j-lawyer-server/j-lawyer-io/build/
/j-lawyer-server/j-lawyer-io/dist/
/j-lawyer-server/j-lawyer-io/web/swagger-ui/swagger.json
/j-lawyer-server/j-lawyer-io/jaxrs-analyzer-error.log
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-run.ods
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-run.odt
/docker/wildfly/j-lawyer-server.ear
/j-lawyer-ide/target/
/j-lawyer-cloud/target/
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-emptyline-run.docx
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-scripts-run.odt
/j-lawyer-server/j-lawyer-server-ejb/test/data/template-scripts-run.docx
