/j-lawyer-client/nbproject/private/
/j-lawyer-fax/nbproject/private/
/j-lawyer-io-common/nbproject/private/
/j-lawyer-server/nbproject/private/
/j-lawyer-server-entities/nbproject/private/
/j-lawyer-server/j-lawyer-server-war/nbproject/private/
/j-lawyer-server/j-lawyer-server-io/nbproject/private/
/j-lawyer-server/j-lawyer-server-ejb/nbproject/private/
/j-lawyer-server-common/nbproject/private/
/j-lawyer-server-api/nbproject/private/
/j-lawyer-fax/build/
/j-lawyer-fax/dist/
/j-lawyer-server-api/build/
/j-lawyer-server-entities/dist/
/j-lawyer-server-entities/build/
/j-lawyer-server-common/dist/
/j-lawyer-server-common/build/
/j-lawyer-server-api/dist/
/j-lawyer-client/build/
/j-lawyer-backupmgr/target/